@import '../../../styles/settings.scss';

.root {
  padding: 2rem 0;

  .title {
    text-align: center;
    font-size: $base-size * 5;
    color: $color-text-light;
    padding: 1.5rem 0;
    border-radius: 5px;
    background-color: $color-background;
  }

  .carousel {
    background-color: $color-background;
    padding: 2rem;
  }
  .carouselIcon {
    color: $color-text-bright;
    background-color: $color-text-light;
    border-radius: 50%;
    font-size: $base-size * 3;
  }
  
  @media screen and (max-width: 768px) {
    .cardsCol:nth-child(odd) {
      display: none;

    }
  }
}
